@import '../plugins/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-size: 1.3em;
}
header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url('../images/trippy-weed-mac-wallpaper-k60y8.jpg') center no-repeat;
  background-size: cover;
}
header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1, header h2 {
  margin: 0;
}
header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}
.head {
  padding: 5px 10px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  float: left;
  height: 60px;
  padding: 5px;
  width: 50%;
  text-align: left;
}
.logo img {
  height: 100%;
  width: auto;
}
.login {
  display: inline-block;
  float: right;
  height: 80px;
  width: 48%;
  text-align: right;
  padding-top: 20px;
  width: auto;
}
.login-btn {
	height: 31px;
	background-color: #00a1d3;
}
.login label {
  color: #fff;
}
.login-section {
  display: inline-block;
  float: left;
  margin: 0px 2px;
}
.slogan {
  text-align: center;
  margin-top: 130px;
}
.slogan h1 {
  font-weight: 600;
  font-size: 5em;
  color: #fff;
}
.btn-request {
  margin-top: 15px;
  padding: 15px;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 2;
}
.register-email {
  width: 200px;
  margin: 20px auto;
}
.forgot-email {
  width: 250px;
  margin: 20px auto;
}

/*Media queries for responsive design*/

@media (max-width: 900px) {
  .logo {
    width: 30%;
    height: auto;
  }
  .logo img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .login {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .slogan {
    margin-top: 190px;
  }
  .slogan h1 {
    font-size: 3em;
  }
}
@media (max-width: 600px) {
	.head {
		padding: 0;
	}
  .logo {
    width: 100%;
    float: center;
  }
  .login {
    clear: both;
		float: none;
    margin: 0 auto;
    width: 100%;
  }
	.login-section {
		width: 98%;
		margin: 1%;
		clear: both;
		float: center;
		display: block;
	}
  .login-btn {
		float: none;
		display: block;
		margin: 0 auto;
    width: 200px;
		height: 50px;
		margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  .slogan h1 {
    display: none;
  }
  .btn-request {
    width: 200px;
		height: 50px;
    font-size: 1.5em;
    letter-spacing: 1;
  }
	#rememberMeLbl, #rememberMe {
		display: none;
	}
}
